/* BURGER MENU */ 
header .menu-icon {
    padding: 1.75rem;
    position: relative;
    float: right;
    cursor: pointer;
    margin: 1rem 0;
}

header .menu-icon .nav-icon { 
    background: rgb(0, 79, 110);
    display: block;
    height: 3px;
    width: 22px;
    position: relative;
    transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before,
header .menu-icon .nav-icon:after {
    background: rgb(0, 79, 110);
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
 }

 header .menu-icon .nav-icon:after {
    top: -5px;
 }

 header .menu-icon .nav-icon:before {
    top: 5px;
 }

 header .menu-btn {  /* The checkbox */
     display: none;
 }

 header .menu-btn:checked ~ ul {  /* menu checked state */
     max-height:500px;
     padding: 2rem 0;
 }

 header .menu-btn:checked ~ .menu-icon .nav-icon { /* Middle line */
    background: transparent;
 }

 header .menu-btn:checked ~ .menu-icon .nav-icon:before { /* bottom line */
    transform: rotate(-45deg);
    top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:after { /* top line */
    transform: rotate(45deg);
    top: 0;
}

/* Responsive properties */ 

@media (min-width:56em) {
    header li {
        float: left;
    }

    header ul {
        clear: none;
        float: right;
        max-height: none;
        padding: 1rem;
    }

    header .menu-icon {
        display: none;
    }
}
