/* UNIVERSAL STYLES */
body {
    background-color: #ddd;
    font-family: 'Signika', Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    font-family: 'Jockey One';
    text-align: center;
    color: rgb(254, 231, 57);
    }

h2 {
    font-size: 3rem;
}



/* Colours 

Blue 
rgba(0, 79, 110, 1)
rgb(0, 79, 110)

Yellow
rgb(208,190,46)

Yellow Bright


Red
rgb(80,00,00)

Red Bright
rgb(254, 4, 4)

Accent Colour (purple)
#641Bff


*/



/* HEADER SECTION */
header {
    background-color: white;
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
}

.logo {
    text-decoration: none;
    color:rgb(0, 79, 110);
    font-family: 'Jockey One';
    font-weight: bold;
    font-size: 2rem;
    margin: 0 2rem;
    padding-top: 1.5rem;
    float: left;
}

.logo:hover {
    color:rgb(254, 231, 57);
}

header ul {
    list-style: none;
    margin: 0 2rem;
    padding: 0;
    overflow: hidden;
}

header ul a {
    text-decoration: none;
    color: rgb(0, 79, 110);
    font-size: 1.75rem;
    display: block;
    padding: 1rem 2rem;
}

header ul a:hover {
    color: rgb(254, 231, 57);
}

header ul {
    clear: both;
    max-height: 0;
    transition: 0.2s ease-out;
}

@media (max-width:600px) {
    .logo {
        font-size: 1rem;
    }
    .h1 {
        font-size: 2rem;
    }
    .h2 {
        font-size: 1.5rem;
    }

    .h3 {
        font-size: 1rem;
    }
}


/* FOOTER */
footer {
    background-color:white;
}

/* Copyright group ------- */
.footer-copyright {
    padding: 2rem;
}

.footer-copyright a {
    text-decoration: none;
    color: black;
}

.footer-copyright a:hover {
    color: coral;
}

/* CONTAINER & GRID SECTION */

.content {  /* This is the container for H1 and P sections */ 
    margin: auto;
    max-width: 900px;
    text-align: center;
}

.grid-container {  /* This creates a grid */
    margin: 2rem auto;
    padding: 1rem;
}

.grid-container img {
    width: 100%;
}

/* Go top button */
.topbtn {
    background-color: rgb(254, 231, 57);
    width: 100%;
    display: flex;
}

.topbtn a {
    padding: 1rem 2rem;
    color: #000;
    flex-grow: 1;
    text-align: end;
    text-decoration: none;
}

.topbtn a:hover {
    color: white;
}



/* HOMEPAGE SPECIFIC ITEMS -----------------------------------------  */ 

/* INTRO */
.intro {
    background-color: rgba(0, 79, 110, 1);
    margin-top: 3rem;
    padding: 2rem;
}

.intro h1 {
    font-size: 8rem;
    margin-bottom: 3rem;
}
.intro h2 {
    color: white;
    margin-bottom: 3rem;
}

.intro-btn {
    background-color: rgb(254, 231, 57);
    color:rgb(0, 79, 110);
    border: solid;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    transition: 100ms;
    transform: scale(1);
}

.intro-btn:hover {
    transform: scale(1.1)
}

@media (max-width: 600px) {
    .intro h2,
    .classes h2  {
        font-size: 1.5rem;
    }
}


/* CLASSES (homepage teaser and classes page) */
.classes h1 {
    color: rgb(0, 79, 110)
}

.class-box {
    flex-basis: 30%;
    background-color:white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
}

.class-btn {
    background-color: rgb(0, 79, 110);
    color:white;
    border: white;
    height: 2rem;
    font-size: 1.2rem;
    flex-shrink: 1;
    cursor: pointer;
    transition: 100ms;
    transform: scale(1);
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
}

.class-btn:hover {
    transform: scale(1.1);
}

.all-class-btn {
    background-color: rgb(254, 231, 57);
    color: rgba(0, 79, 110, 1);
    border: rgb(254, 231, 57);
    border-radius: 10px;
    height: 2rem;
    width: 25rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 auto 3rem;  
    transition: 100ms;
    transform: scale(1);
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
}

.all-class-btn:hover {
    transform: scale(1.1);
}


/* CONTACT DETAILS (homepage snippet) */

.contact-details {
    background-color: white;
    padding: 1px;
}

.contact-details h1 {
    color: rgb(0, 79, 110)
}

.contact-details a {
    text-decoration: none;
    color: rgb(0, 79, 110);
}

.contact-details a:hover {
    color: rgb(254, 231, 57);
}
.contact-one {
   flex-grow: 1;
    padding: 1rem;
    margin: 1rem;
}

.contact-two {
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem;
}

.contact-map {
    padding: 1rem;
    margin: 1rem;
    flex-grow: 2;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    border-radius: 5px;
}


/* NEWS SECTION */

.news {
    background-color: rgba(0, 79, 110, 1);
    padding: 1rem;
}

.news-line {
    width: 80%;
    border-bottom: 2px solid white;
    margin-left: 3rem;
    margin-bottom: 2rem;
  
}

.news-line a {
    font-size: 2rem;
    color: #f3f3f3;
    text-decoration: none;
}

.news a:hover {
    color: rgb(254, 231, 57);
}

@media (min-width:56em) {
    .grid-container {
        display:flex;
        justify-content: space-between;
    }
}


/* ABOUT PAGE -------------------------------------------------------------*/
.about-container {
    margin-top: 3rem;
    display: flex;
}

.about-intro {
    flex-basis: 70%;
    background-color: rgba(0, 79, 110, 1);
    padding: 2rem;
}

.about-intro p {
    width: 60%;
}

.about-intro h3, .about-intro p {
    color: white;
}

.about-logo {
    background-color: white;
    flex-basis: 30%;
    text-align: center;
}

.about-logo img {
    max-width: 125px;
    padding: 4rem;
}

.coaches {
    background-color: #ddd;
    padding: 1rem;
}

.coach-andre {
    flex-basis: 30%;
    background-color:white;
    padding: 1rem;
    margin: 1rem;
}

.coach-steve {
    flex-basis: 30%;
    background-color:white;
    padding: 1rem;
    margin: 1rem;
}

.coach-tyler {
    flex-basis: 30%;
    background-color:white;
    padding: 1rem;
    margin: 1rem;
}

@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }

    .about-intro p {
        width: 90%;
    }
}

/* CLASSES PAGE ---------------------------------------------------------- */ 

.main-classes {
    margin-top: 3rem;
    padding: 2rem;
}

.main-classes h1 {
    color: rgb(0, 79, 110);
}

.classes-cta {
    border: none;
    background-color: rgb(254, 231, 57);
    color: black;
    width: 50%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
}

.classes-cta:hover, .cta:focus {
    transform: scale(1.1);
}

.main-classes img {
    max-height: 160px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .main-classes {
        padding: 0rem;
    }
    .main-classes .grid-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
}


/* CONTACT PAGE --------------------------------------------------------- */
.main-contact {
    background-color: rgb(0, 79, 110);
    margin-top: 3rem;
    padding: 2rem;
}

.main-contact h2 {
    color: white;
}

.location-box {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
}

.location-box img {
    max-height: 200px;
}

/* Contact form styling */
.contact-form {
    display: flex;
    padding: 2rem;
    color: #000;
    margin-left: 3rem;
    margin-top: -4rem;
}

.getin-contact h3 {
    font-size: 3rem;
    text-align: center;
}
  
.formleft {
    flex-basis: 40%;
    margin: 2rem;
}

.formright {
    flex-basis: 40%;
    margin: 2rem;
}

.contact-form input {
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.contact-form textarea {
    min-height: 18rem;
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

.contact-form input[type=reset] {
    width: 30%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
}

.contact-form input[type=submit] {
    width: 60%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    color: rgba(0, 79, 110, 1);
}

.contact-form input[type=submit]:hover {
    background-color: rgb(254, 231, 57);
}

.contact-form label {
    font-size: 1.5rem;
    color: rgba(0, 79, 110, 1);
}

@media (max-width: 600px) {
    .getin-contact h3 {
        font-size: 2rem;
        max-width: 400px;
        padding: 1rem;
    }

    .contact-form {
        flex-direction: column;
        margin-left: 0;
    }

    .formleft,
    .formright {
        justify-content: center;
        margin: 0;
    }

    .contact-form textarea {
        max-width: 300px;
    }
}

/* MEMBERSHIP PAGE ---------------------------------------------------------- */

.membership {
    background-color: rgba(0, 79, 110, 1);
    padding: 1rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
}
.membership h2 {
    color: white;
}

.pricing {
    margin-top: 4rem;
}
.pricing h2 {
    text-align: center;

}

.pricing .content {
    margin-bottom: 0;
}

.pricing-body {
    background-color: #ddd;
    min-width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.price-comparison {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 1rem;
}

.price-column {
    background-color: white;
    color: rgba(0, 79, 110, 1);
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 8px;
}

.price-column.popular {
    background-color: rgb(252, 224, 8);
    color: rgba(0, 79, 110, 1);
    box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
    position: relative;
}

.price-column:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.price-column:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.price {
    font-size: 3.5rem;
    display: flex;
}

.pound-sign {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .25rem;
}

.per-month {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}

.plan-name {
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color:rgb(0,0,0,.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.price-column.price-column.popular .divider {
    background-color: rgba(0, 79, 110, 1);
}

.feature {
    display: flex;
    align-items: center;
    margin: .5rem;
}

.feature i {
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
}

.feature.inactive {
    color: #999;
    text-decoration: line-through;
}

.most-popular {
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.price-cta {
    border: none;
    background-color:rgb(252, 224, 8);
    color: rgba(0, 79, 110, 1);
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
}

.price-column.popular .price-cta {
    background-color: rgba(0, 79, 110, 1);
    color: rgb(252, 224, 8)
 }
.price-cta:hover, .cta:focus {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .pricing-body {
        flex-direction: column;
    }

    .price-comparison {
        flex-direction: column;
    }

    .price-column {
        flex-direction: column;
        margin-bottom: 3rem;
        max-width: 100%;
    }

    .price-column.popular {
        margin-bottom: 2rem;
    }
}

/* CLASS TIMETABLE ------------------------------------------ */

.class-timetable {
    background-color: rgba(0, 79, 110, 1);
    padding: 1rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.class-timetable h3 {
    color: white;
}

.timetable {
    background-color: white;
    padding: 3rem;
}


.class-table {
    border-collapse: collapse;
    margin: 1.25rem;
    min-width: 800px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #999;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: .9rem;;
    width: 100%;
    table-layout: fixed;
}

.class-table thead tr {
    background-color: rgb(254, 231, 57);
    color: black;
    text-align: left;
}

.class-table th,
.class-table td {
    padding: 1rem;
}

.class-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.class-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.class-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(252, 224, 8);
}

@media (max-width: 600px) {
    .class-table {
        margin: 1rem;
        min-width: 800px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 20px #999;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: .9rem;;
        width: 100%;
        table-layout: fixed;
    }
}

/* CLASS PAGE (template styling for all) --------------------------------------------- */

.class-page .grid-container {
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 1100px;
}

.class-page .class-description {
    flex-basis: 50%;
    padding: 2rem;
}

.class-description h1 {
    color: rgb(0, 79, 110);
}

.class-description h3 {
    margin-bottom: -15px;
}

.class-page .class-image { 
    flex-basis: 50%;
    margin: 0;
    background-color: salmon;
}

.class-page .class-image img {
    display: block;
    height: 1100px;
    object-fit: cover;
}

.class-page a {
    text-decoration: none;
    color: rgba(52, 13, 135, 0.3);
    font-size: 1.5rem;
}

/* FAQs page ---------------------------------------------------------------------- */

.faq-page {
    margin: 6em auto 3rem;
    max-width: 900px;
}

.faq-page h1 {
    color: rgb(0, 79, 110);
}




/* RESPONSIVE -------------------------------------------------------- */
@media (max-width: 600px) {
    .intro h1 {
        font-size: 4rem;
    }
    
    .all-class-btn {
        max-width: 80%;
    }
    
    .contact-map {
        flex-grow: 1;
        max-width: 80%;
    }

    .contact-map iframe {
        max-width: 100%;
    }

    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}